@import 'bootstrap-sprockets';
@import 'bootstrap';


body {
	background-image: url(asset-path('tcblogpic.png'));
	
}


.content {
    padding:20px;
    width:975px;
    position:absolute;
    background: rgba(220,220,220, 0.6);   
}
