@import 'bootstrap-sprockets';
@import 'bootstrap';


body {
	background-image: url(asset-path('tcblogpic.png'));
	background-size: 100%;
	
}


.content {
    padding:20px;
    width:1170px;
    position:absolute;
    }

